<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.ExpressManDao">
	<select id="selectPackages1" parameterType="Integer" resultType="Packages">
		select * from t_packages where no=#{no}
	</select>
	
	<select id="selectPackages" parameterType="Integer" resultType="Packages">
		select * from t_packages where state=#{state}
	</select>
	
	<insert id="insertPackages" parameterType="Packages">
		insert into t_packages (senderName,senderMobile,senderPlace,addrName,addrMobile,addrPlace,information,state)
		values(#{senderName},#{senderMobile},#{senderPlace},#{addrName},#{addrMobile},#{addrPlace},#{information},#{state})
	</insert>
	
	<select id="selectExpressMan" parameterType="String" resultType="ExpressMan">
		select no,name,sex,mobile,email,IDcard,birthday,state,password,date,salary,nativePlace,homePlace,password,type from t_expressman where no=#{no}
	</select>
	
	<update id="updatePackages" parameterType="Packages">
		update t_packages set information=#{information} where no=#{no}
	</update>
	
	<select id="selectPackageState" parameterType="Integer" resultType="PackageState">
		select information,time from t_packagestate where no=#{no}
	</select>
	
	<insert id="insertPackageState" parameterType="PackageState">
		insert into t_packagestate(information,time,no) values(#{information},#{time},#{no})
	</insert>
</mapper>